<div class="splash">
    <h1>Your Budget Buddy</h1>

    <div class = "log-in-container">
        <%= link_to "Log in", new_user_session_path, class: "button-splash btn log" %>
        <%= link_to "Sign in", new_user_registration_path, class: "button-splash btn" %>
    </div>
</div>
